#activity-window {
    z-index: 2;
    position: absolute;
    top: 46px;
    left: 3.5em;

    color: var(--text-header);
    background-color: var(--bg-header);
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

    -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);

    max-height: calc(100% - 46px);
    max-width: 100%;
}

#close-icon {
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
}
