#console {
    font-size: 1.6em;
    font-weight: bold;
    position: bottom;
    padding: 10px;
    bottom: 0px;
    right: 0px;
    background-color: #454c5273;
    border-top-left-radius: 5px;
    font-family: 'Source Code Pro', monospace;
}

#selected_id {
    /* color: #00ff00; */
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}
