#RenderWindow {
    position: absolute;
    width: 100%;
    height: 100%;
    /* 46px is height of main nav */
    /* height: calc(100% - 46px); */
    /* display: flex; */
    /* position: relative; */
}

#myCanvas {
    z-index: 0;
    /* background-color:#a7b6c2; */
    display: block;
    width: 100%;
    height: 100%;
}

#myNavCubeCanvas {
    position: absolute;
    z-index: 1;
    width: 175px;
    height: 175px;
    right: 675px;
    top: 20px;
}

.xeokit-camera-pivot-marker {
    /* color: #ffffff; */
    position: absolute;

    width: 25px;
    height: 25px;
    border-radius: 15px;
    /* border: 2px solid #ebebeb; */

    background: black;
    visibility: hidden;
    box-shadow: 5px 5px 15px 1px #000000;
    pointer-events: none;
}

#storeyMap {
    position: absolute;
    left: 10px;
    top: 60px;
    margin-top: 20px;
    overflow-y: hidden;
    height: auto;
    pointer-events: all;
    width: auto;
    user-select: none;
}

#planPointer {
    color: #000000;
    line-height: 1.8;
    text-align: center;
    font-family: 'monospace';
    font-weight: bold;
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(./storeyMapCamera.png);
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

#infoGraphContainer {
    position: absolute;
    top: 600px;
    width: 500px;
    height: 200px;
    /* width: 350px; */
    padding-right: 10px;
    /* min-width: 250px; */

    border-top-right-radius: 60px;
    border-bottom-right-radius: 30px;

    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
}

.treeview-title {
    color: black;
    font-size: 11px;
  }

#treeRow{
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#treeViewContainer3 {
    position: absolute;
    top: 200px;
    width: 20%;
    height: auto;

    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; */

    /* height: 100%; */
    overflow-y: auto;
    overflow-x: hidden;
    /* position: absolute; */
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
    z-index: 0;
    float: left;
    left: 53px;
}


#treeViewContainer4 {
    position: absolute;
    top: 47px;
    width: 20%;
    height: auto;

    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; */

    /* height: 100%; */
    overflow-y: auto;
    overflow-x: hidden;
    /* position: absolute; */
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
    z-index: 0;
    float: left;
    left: 53px;
}

#treeViewContainer5 {
    position: absolute;
    top: 123px;
    width: 20%;
    height: auto;

    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; */

    /* height: 100%; */
    overflow-y: auto;
    overflow-x: hidden;
    /* position: absolute; */
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
    z-index: 0;
    float: left;
    left: 53px;
}

#treeViewContainer2 {
    position: absolute;
    top: 47px;
    width: 35%;
    height: auto;

    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; */

    /* height: 100%; */
    overflow-y: auto;
    overflow-x: hidden;
    /* position: absolute; */
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
    z-index: 0;
    float: right;
    right: 0;
}


#treeViewContainer {
    position: absolute;
    top: 300px;
    max-height: calc(100% - 300px - 50px);
    /* width: 350px; */
    padding-right: 10px;
    /* min-width: 250px; */

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    pointer-events: all;
    /* height: 100%; */
    overflow-y: auto;
    overflow-x: hidden;
    /* position: absolute; */
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
    color: black;
    /* top: 80px; */
    z-index: 0;
    float: left;
    left: 0;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#treeViewContainer ul li span:hover {
    font-weight: 600;
    cursor: pointer;
}

#treeViewContainer::-webkit-scrollbar {
    width: 20px;
}

#treeViewContainer::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 3px;
}

/* Handle */
#treeViewContainer::-webkit-scrollbar-thumb {
    /* background: rgb(91, 93, 100);  */
    border-radius: 3px;
    transition: 0.5s;
}

/* Handle on hover */
#treeViewContainer::-webkit-scrollbar-thumb:hover {
    /* background: rgb(39, 40, 43); */
}

#treeViewContainer ul {
    list-style: none;
    padding-left: 1.75em;
    pointer-events: none;
}

#treeViewContainer ul li {
    position: relative;
    /* width: 500px; */
    pointer-events: none;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
}

#treeViewContainer ul li a {
    /* background-color: #eee; */
    border-radius: 50%;
    /* color: #000; */
    display: inline-block;
    height: 1.5em;
    left: -1.5em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 1.5em;
    pointer-events: all;
}

#treeViewContainer ul li a.plus {
    /* background-color: #ded; */
    pointer-events: all;
}

#treeViewContainer ul li a.minus {
    /* background-color: #eee; */
    pointer-events: all;
}

#treeViewContainer ul li a:active {
    top: 1px;
    pointer-events: all;
}

#treeViewContainer ul li span:hover {
    /* color: white; */
    cursor: pointer;
    /* background: black; */
    padding-left: 2px;
    pointer-events: all;
}

#treeViewContainer ul li span {
    display: inline-block;
    width: calc(100% - 50px);
    padding-left: 2px;
    pointer-events: all;
    height: 23px;
}

#treeViewContainer .highlighted-node {
    /* Appearance of node highlighted with TreeViewPlugin#showNode() */
    /* border: black solid 1px; */
    /* width: auto; */
    font-weight: 600;
    margin-left: -10px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );
    pointer-events: all;
}

.annotation-marker {
    color: #ffffff;
    line-height: 1.8;
    text-align: center;
    font-family: 'monospace';
    font-weight: bold;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    background: rgb(255, 255, 255);
    visibility: hidden;
    box-shadow: 0px 0px 20px 1px #000000a1;

    z-index: 0;
}

.annotation-label {
    position: absolute;
    /* max-width: 250px; */
    /* min-height: 50px; */
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background: #ffffff;
    color: #000000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 8px;
    /* border: #ffffff solid 1px; */
    box-shadow: 0px 0px 20px 1px #000000a1;
    z-index: 0;
}

.annotation-label:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent white;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -11px;
    left: -12px;
    top: 20px;
}

/* .annotation-label:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 13px 9px 0;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -12px;
    left: -15px;
    top: 20px;
} */

.annotation-title {
    font: normal 20px arial, serif;
    margin-bottom: 8px;
}

.annotation-desc {
    font: normal 14px arial, serif;
}
